* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}


.reg-title {
  color: rgba(226, 33, 39, 1);
  font-family: Oswald;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
  padding-top: 16px;
}

.reg-form input,
select {
  width: 233px;
  height: 46px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.reg-form form {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form button {
  width: 233px;
  height: 46px;
  color: #fff;
  background-color: #E33E43;
  margin-top: 43px;
}


.reg-action {
  width: 580px;
  color: rgba(226, 33, 39, 1);
  font-family: Oswald;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding-top: 44px;
  padding-bottom: 35px;
}

.present-img {
  width: 91px;
  height: 90px;
  background: url("../images/present-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}


.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.picture1 {
  width: 76px;
  height: 45px;
  background: url("../images/picture1reg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

.picture2 {
  width: 41px;
  height: 46px;
  background: url("../images/picture2reg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

.picture3 {
  width: 31px;
  height: 31px;
  background: url("../images/picture3reg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}


.reg-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 320px;
  align-items: center;
  padding-top: 64px;
}


button {
  cursor: pointer;
}